

#footer {
    background: #04B431;
    margin-top: 40px;
    padding-top: 45px;

    .container {
        max-width: 1200px;
    }

    .title-footer {
        border-bottom: 2px solid #fff;
        padding-bottom: 13px;

        h2 {
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            color: #fff;
            text-transform: uppercase;
        }
    }

    .content-left {
        .box-text {
            margin-top: 25px;

            p {
                font-size: 16px;
                line-height: 26px;
                color: #fff;
            }


            .has-pd-text {
                padding-top: 75px;
            }

            .dcma-img {
                a {
                    max-width: 135px;
                    height: 28px;
                    overflow: hidden;
                    display: block;
                }

                margin-top: 70px;
            }
        }
    }

    .content-right {
        @media only screen and (max-width: 576px){
            &{
                margin-top: 20px;
            }
        }

        .box-text {
            margin-top: 25px;

            ul {
                li {
                    padding-bottom: 17px;

                    a {
                        font-size: 16px;
                        color: #fff;

                        &:hover {
                            color: #000000;
                        }
                    }
                }
            }
        }
    }

    .end-ft {
        border-top: 1px solid #fff;
        padding: 10px 105px;
        margin-top: 10px;

        .text-end {
            p {
                font-size: 10px;
                line-height: 17px;
                color: #fff;
            }

            a {
                font-size: 10px;
                line-height: 17px;
                color: #fff;

                &:hover {
                    color: #000;
                }
            }
        }
    }

    a.cd-top {
        display: inline-block;
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 120px;
        right: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        /* image replacement properties */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background: #444444 url('../images_icon/iconmonstr-arrow-66-16.png') no-repeat center 50%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
        z-index: 999;
    }

    a.cd-top.cd-is-visible, a.cd-top.cd-fade-out, .no-touch a.cd-top:hover {
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }

    a.cd-top, a.cd-top:visited, a.cd-top:hover {
        color: #CCCCCC;
        text-decoration: none;
    }

    a.cd-top.cd-is-visible {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }

    a.cd-top.cd-fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: 1;
    }
}
