﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Arial';
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }
  @media only screen and (max-width: 768px) {
    img {
      object-fit: fill; } }

@media only screen and (max-width) {
  html {
    overflow-x: hidden; } }

button {
  cursor: pointer; }

a {
  color: black; }

a:hover {
  text-decoration: none; }

@font-face {
  font-family: 'Arial.ttf';
  src: url("../fonts/font/Arial.ttf.eot") format("embedded-opentype"); }

@font-face {
  font-family: 'Arial.ttf';
  src: url("../fonts/font/Arial.ttf.woff") format("woff"); }

@media only screen and (max-width: 768px) {
  #header {
    display: table; } }

#header .fixed-stuck {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  overflow: visible;
  z-index: 49;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#header .off-header {
  display: none; }

#header .header-main {
  background: #04b431;
  padding: 8px; }
  @media only screen and (max-width: 768px) {
    #header .header-main {
      display: none; } }
  #header .header-main .logo {
    max-width: 293px;
    height: 100px;
    margin: auto; }

#header .header-bottom {
  border-bottom: 3px solid #dedede; }
  @media only screen and (max-width: 768px) {
    #header .header-bottom {
      display: none; } }
  #header .header-bottom .nav-bar-main {
    max-width: 1348px;
    margin: auto; }
    #header .header-bottom .nav-bar-main .ul-nav-bar {
      display: flex;
      justify-content: center; }
      #header .header-bottom .nav-bar-main .ul-nav-bar li {
        margin-right: 10px;
        position: relative;
        padding: 20px 0px; }
        #header .header-bottom .nav-bar-main .ul-nav-bar li:last-child {
          margin-right: unset; }
        #header .header-bottom .nav-bar-main .ul-nav-bar li:hover .drop-down {
          left: 0;
          opacity: 1;
          visibility: visible; }
        #header .header-bottom .nav-bar-main .ul-nav-bar li .list-item {
          font-weight: 700;
          font-size: 16px;
          text-transform: uppercase;
          color: #04b431;
          padding: 10px 5px;
          border-radius: 5px; }
          @media only screen and (max-width: 1024px) {
            #header .header-bottom .nav-bar-main .ul-nav-bar li .list-item {
              font-size: 10px; } }
          #header .header-bottom .nav-bar-main .ul-nav-bar li .list-item:hover {
            background: #04b431;
            color: #fff; }
        #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down {
          position: absolute;
          width: 300px;
          height: auto;
          border-top: 3px solid #04B431;
          top: 56px;
          left: -100vw;
          z-index: 20;
          background: #fff; }
          #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.medium-ct {
            max-width: 170px; }
          #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.small-ct {
            max-width: 150px; }
          #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.medium-ct.scroll-height {
            max-width: 182px;
            height: 370px; }
            #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.medium-ct.scroll-height .drop-box {
              height: 370px;
              overflow: scroll;
              overflow-x: hidden;
              position: relative; }
              #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.medium-ct.scroll-height .drop-box::-webkit-scrollbar {
                width: 6px;
                background-color: #F5F5F5; }
              #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.medium-ct.scroll-height .drop-box::-webkit-scrollbar-thumb {
                background-color: #CDCDCD;
                border-radius: 5px; }
          #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.sub-sm {
            left: -100vw;
            top: -2.5px;
            opacity: 0;
            visibility: hidden; }
            #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.sub-sm ul li:hover {
              background: #04b431; }
              #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.sub-sm ul li:hover .sub-item {
                color: #fff; }
                #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.sub-sm ul li:hover .sub-item .fa {
                  color: #fff; }
            #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down.sub-sm ul li .sub-item {
              font-size: 12px;
              text-transform: uppercase;
              font-weight: bold;
              color: #04b431;
              line-height: 26px;
              padding: unset;
              color: #686868;
              border-radius: unset;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center; }
          #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box {
            position: relative; }
            #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box ul li {
              width: 100%;
              transition: .3s ease-out;
              padding: 5px 0px 5px 10px;
              border-bottom: 1px solid #EEEEEE;
              position: relative; }
              #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box ul li:hover .drop-down.sub-sm {
                left: 100%;
                opacity: 1;
                visibility: visible; }
              #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box ul li:hover {
                background: #04b431; }
                #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box ul li:hover .drop-item {
                  color: #fff; }
                  #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box ul li:hover .drop-item .fa {
                    color: #fff; }
              #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box ul li .drop-item {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: bold;
                color: #04b431;
                line-height: 26px;
                padding: unset;
                color: #686868;
                border-radius: unset;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center; }
                #header .header-bottom .nav-bar-main .ul-nav-bar li .drop-down .drop-box ul li .drop-item .fa {
                  font-size: 12px;
                  padding-right: 5px;
                  font-weight: 600;
                  color: #686868; }
        #header .header-bottom .nav-bar-main .ul-nav-bar li button {
          border: none;
          outline: none;
          background-color: #fff;
          cursor: pointer; }
          #header .header-bottom .nav-bar-main .ul-nav-bar li button .fa {
            color: #04b431; }

#header .header-moblie {
  background: #29B961;
  height: 65px;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  z-index: 99;
  top: 0;
  left: 0; }
  @media only screen and (max-width: 768px) {
    #header .header-moblie {
      opacity: 1;
      visibility: visible; } }
  #header .header-moblie .nav-content {
    position: relative; }
    #header .header-moblie .nav-content .button-bar {
      position: absolute;
      top: 10px;
      left: 10px;
      bottom: 10px; }
      #header .header-moblie .nav-content .button-bar button {
        color: #666;
        font-size: 18px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border: 1px solid #eee;
        outline: none;
        text-align: center;
        background: #f7f7f7;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: 0.15s all ease;
        -moz-transition: 0.15s all ease;
        -o-transition: 0.15s all ease;
        transition: 0.15s all ease; }
    #header .header-moblie .nav-content .logo-mb {
      max-width: 150px;
      height: 50px;
      margin: auto;
      padding-top: 5px; }
  #header .header-moblie .site-nav-moblie {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #3F3E37;
    top: 0;
    left: 0;
    z-index: 999;
    transition: .3s ease-out;
    transform-origin: 0% 100%;
    transform: translateX(-100%); }
    #header .header-moblie .site-nav-moblie.push-site-mb {
      transform: translateX(0%) !important; }
    #header .header-moblie .site-nav-moblie .bar-scl-box {
      background: #393831;
      border-bottom: 1px solid #46453E; }
      #header .header-moblie .site-nav-moblie .bar-scl-box .bar-scl {
        border: none;
        outline: none;
        background-color: transparent;
        color: #fff;
        font-size: 17px;
        padding: 20px; }
    #header .header-moblie .site-nav-moblie .site-nav-box {
      padding: 10px 20px 20px 20px; }
      #header .header-moblie .site-nav-moblie .site-nav-box ul li {
        border-bottom: 1px solid #46453E;
        padding: 10px 0px; }
        #header .header-moblie .site-nav-moblie .site-nav-box ul li .site-nav-search .box-text-content {
          animation: scale_show .3s forwards; }

@keyframes scale_show {
  0% {
    transform: scale(0.7);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
          #header .header-moblie .site-nav-moblie .site-nav-box ul li .site-nav-search .box-text-content .search-header-box-content {
            max-width: 100%; }
            #header .header-moblie .site-nav-moblie .site-nav-box ul li .site-nav-search .box-text-content .search-header-box-content form {
              max-width: 100%;
              height: 46px;
              display: flex;
              border-radius: 5px;
              overflow: hidden; }
              #header .header-moblie .site-nav-moblie .site-nav-box ul li .site-nav-search .box-text-content .search-header-box-content form input {
                width: 100%;
                border: none;
                outline: none;
                padding-left: 10px; }
              #header .header-moblie .site-nav-moblie .site-nav-box ul li .site-nav-search .box-text-content .search-header-box-content form button {
                border: none;
                outline: none;
                background: #fff;
                color: #808080; }
        #header .header-moblie .site-nav-moblie .site-nav-box ul li .list-moblibe-item {
          display: flex;
          justify-content: space-between;
          font-size: 17px;
          font-weight: 400;
          line-height: 28px;
          text-transform: uppercase;
          cursor: pointer; }
          #header .header-moblie .site-nav-moblie .site-nav-box ul li .list-moblibe-item.active a {
            color: #29B961; }
          #header .header-moblie .site-nav-moblie .site-nav-box ul li .list-moblibe-item.active button {
            transform: rotate(90deg); }
            #header .header-moblie .site-nav-moblie .site-nav-box ul li .list-moblibe-item.active button .fa {
              color: #29B961; }
          #header .header-moblie .site-nav-moblie .site-nav-box ul li .list-moblibe-item a {
            color: #fff; }
          #header .header-moblie .site-nav-moblie .site-nav-box ul li .list-moblibe-item #ws-247-accordion {
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 17px;
            line-height: 28px;
            color: #fff; }
            #header .header-moblie .site-nav-moblie .site-nav-box ul li .list-moblibe-item #ws-247-accordion .fa {
              font-weight: 600; }
        #header .header-moblie .site-nav-moblie .site-nav-box ul li .panel {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          padding: 0px 5px; }
          #header .header-moblie .site-nav-moblie .site-nav-box ul li .panel ul li:last-child {
            border-bottom: unset; }

#overlay-search {
  position: fixed;
  background: rgba(0, 0, 0, 0.72);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: none;
  transition: .3s ease-out;
  animation: show_overlay .3s forwards; }
  #overlay-search.show_search {
    display: block; }

@keyframes show_overlay {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#search-header-box {
  position: fixed;
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 51; }
  #search-header-box.show-search-hd-ct {
    display: block; }
  #search-header-box .box-text-content {
    animation: scale_show .3s forwards; }

@keyframes scale_show {
  0% {
    transform: scale(0.7);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
    #search-header-box .box-text-content label {
      font-size: 34px;
      line-height: 57px;
      font-weight: 400;
      color: #fff;
      text-align: center;
      display: block;
      margin: auto; }
    #search-header-box .box-text-content .search-header-box-content {
      max-width: 350px; }
      #search-header-box .box-text-content .search-header-box-content form {
        width: 350px;
        height: 46px;
        display: flex;
        border-radius: 5px;
        overflow: hidden; }
        #search-header-box .box-text-content .search-header-box-content form input {
          width: 100%;
          border: none;
          outline: none;
          padding-left: 10px; }
        #search-header-box .box-text-content .search-header-box-content form button {
          border: none;
          outline: none;
          background: #fff;
          color: #808080; }

#footer {
  background: #04B431;
  margin-top: 40px;
  padding-top: 45px; }
  #footer .container {
    max-width: 1200px; }
  #footer .title-footer {
    border-bottom: 2px solid #fff;
    padding-bottom: 13px; }
    #footer .title-footer h2 {
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      color: #fff;
      text-transform: uppercase; }
  #footer .content-left .box-text {
    margin-top: 25px; }
    #footer .content-left .box-text p {
      font-size: 16px;
      line-height: 26px;
      color: #fff; }
    #footer .content-left .box-text .has-pd-text {
      padding-top: 75px; }
    #footer .content-left .box-text .dcma-img {
      margin-top: 70px; }
      #footer .content-left .box-text .dcma-img a {
        max-width: 135px;
        height: 28px;
        overflow: hidden;
        display: block; }
  @media only screen and (max-width: 576px) {
    #footer .content-right {
      margin-top: 20px; } }
  #footer .content-right .box-text {
    margin-top: 25px; }
    #footer .content-right .box-text ul li {
      padding-bottom: 17px; }
      #footer .content-right .box-text ul li a {
        font-size: 16px;
        color: #fff; }
        #footer .content-right .box-text ul li a:hover {
          color: #000000; }
  #footer .end-ft {
    border-top: 1px solid #fff;
    padding: 10px 105px;
    margin-top: 10px; }
    #footer .end-ft .text-end p {
      font-size: 10px;
      line-height: 17px;
      color: #fff; }
    #footer .end-ft .text-end a {
      font-size: 10px;
      line-height: 17px;
      color: #fff; }
      #footer .end-ft .text-end a:hover {
        color: #000; }
  #footer a.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 120px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #444444 url("../images_icon/iconmonstr-arrow-66-16.png") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 999; }
  #footer a.cd-top.cd-is-visible, #footer a.cd-top.cd-fade-out, #footer .no-touch a.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  #footer a.cd-top, #footer a.cd-top:visited, #footer a.cd-top:hover {
    color: #CCCCCC;
    text-decoration: none; }
  #footer a.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  #footer a.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: 1; }

.push-wrapper {
  transform: translateX(300px) !important; }

#wrapper .container {
  max-width: 1200px; }

#wrapper .ws247-breadcum {
  background: #F7F7F7;
  padding: 25px 0px; }
  #wrapper .ws247-breadcum .ws247-breadcum-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    #wrapper .ws247-breadcum .ws247-breadcum-box .title h2 {
      font-size: 26px;
      line-height: 36px;
      font-weight: 700;
      color: #04B431;
      text-transform: uppercase; }
    #wrapper .ws247-breadcum .ws247-breadcum-box .link ul {
      display: flex;
      flex-wrap: wrap; }
      #wrapper .ws247-breadcum .ws247-breadcum-box .link ul li {
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        color: #000; }
        #wrapper .ws247-breadcum .ws247-breadcum-box .link ul li:after {
          content: "\f105";
          padding: 0px 10px;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 14px;
          font-size: inherit;
          text-rendering: auto; }
        #wrapper .ws247-breadcum .ws247-breadcum-box .link ul li:last-child:after {
          display: none; }
        #wrapper .ws247-breadcum .ws247-breadcum-box .link ul li span {
          text-transform: capitalize; }
        #wrapper .ws247-breadcum .ws247-breadcum-box .link ul li a {
          color: #04B431; }
          #wrapper .ws247-breadcum .ws247-breadcum-box .link ul li a:hover {
            color: #000; }
        #wrapper .ws247-breadcum .ws247-breadcum-box .link ul li .fa {
          color: #04B431; }
          #wrapper .ws247-breadcum .ws247-breadcum-box .link ul li .fa:hover {
            color: #000; }

#wrapper .title-main-section {
  border-bottom: 2px solid #29B961; }
  #wrapper .title-main-section h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #fff;
    display: inline-block;
    background: #29B961;
    padding: 7px 20px; }

#wrapper #main {
  transform-origin: 100% 0%;
  transition: .3s ease-out; }
  @media only screen and (max-width: 768px) {
    #wrapper #main {
      padding-top: 65px; } }
  #wrapper #main .overlay-main {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-out; }
    #wrapper #main .overlay-main.show {
      opacity: 1;
      visibility: visible; }
  #wrapper #main.push-wrapper {
    transform: translateX(300px) !important; }
  #wrapper #main #home-page .first-news {
    margin-top: 30px; }
    #wrapper #main #home-page .first-news .slider-img-content .owl-theme .owl-nav {
      position: absolute;
      justify-content: space-between;
      display: flex;
      width: 90%;
      margin: auto;
      left: 50%;
      transform: translateX(-52%);
      top: 46%;
      z-index: 9;
      color: #fff; }
      #wrapper #main #home-page .first-news .slider-img-content .owl-theme .owl-nav button {
        border: none;
        outline: none; }
      #wrapper #main #home-page .first-news .slider-img-content .owl-theme .owl-nav .nav-btn {
        border: 1px solid #fefefe;
        padding: 2px 5px;
        border-radius: 50%;
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .2s; }
        #wrapper #main #home-page .first-news .slider-img-content .owl-theme .owl-nav .nav-btn:hover {
          background: rgba(41, 185, 97, 0.6); }
        #wrapper #main #home-page .first-news .slider-img-content .owl-theme .owl-nav .nav-btn .fa {
          font-size: 12px; }
    #wrapper #main #home-page .first-news .slider-img-content .owl-theme .owl-nav [class*="owl-"]:hover {
      background: none; }
    #wrapper #main #home-page .first-news .slider-img-content .images-box {
      max-width: 560px;
      height: 437px;
      overflow: hidden;
      position: relative;
      z-index: 1; }
      @media only screen and (max-width: 576px) {
        #wrapper #main #home-page .first-news .slider-img-content .images-box {
          max-width: 100%;
          height: auto; } }
      #wrapper #main #home-page .first-news .slider-img-content .images-box .img {
        max-width: 560px;
        height: 437px;
        position: relative;
        overflow: hidden;
        z-index: 2; }
        @media only screen and (max-width: 576px) {
          #wrapper #main #home-page .first-news .slider-img-content .images-box .img {
            max-width: 100%;
            height: auto; } }
      #wrapper #main #home-page .first-news .slider-img-content .images-box:hover .box-text {
        background: rgba(41, 185, 97, 0.6); }
      #wrapper #main #home-page .first-news .slider-img-content .images-box .box-text {
        position: absolute;
        z-index: 3;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        padding: 15px 15px;
        transition: .2s; }
        #wrapper #main #home-page .first-news .slider-img-content .images-box .box-text .title {
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          max-height: 50px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-align: center; }
          #wrapper #main #home-page .first-news .slider-img-content .images-box .box-text .title p {
            font-weight: 400;
            font-size: 17px;
            line-height: 28px;
            color: #fff; }
    @media only screen and (max-width: 576px) {
      #wrapper #main #home-page .first-news .small-img-content {
        margin-top: 30px; } }
    #wrapper #main #home-page .first-news .small-img-content .images-box {
      max-width: 270px;
      height: 203px;
      overflow: hidden;
      position: relative;
      z-index: 1;
      margin-bottom: 30px; }
      @media only screen and (max-width: 576px) {
        #wrapper #main #home-page .first-news .small-img-content .images-box {
          max-width: 100%;
          height: auto; } }
      #wrapper #main #home-page .first-news .small-img-content .images-box:hover .box-text {
        background: rgba(41, 185, 97, 0.6); }
      #wrapper #main #home-page .first-news .small-img-content .images-box .img {
        max-width: 270px;
        height: 203px;
        position: relative;
        z-index: 1; }
        @media only screen and (max-width: 576px) {
          #wrapper #main #home-page .first-news .small-img-content .images-box .img {
            max-width: 100%;
            height: auto; } }
      #wrapper #main #home-page .first-news .small-img-content .images-box .box-text {
        position: absolute;
        z-index: 3;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        padding: 15px 15px;
        transition: .2s; }
        #wrapper #main #home-page .first-news .small-img-content .images-box .box-text .title {
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          max-height: 70px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-align: center; }
          #wrapper #main #home-page .first-news .small-img-content .images-box .box-text .title p {
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #fff; }
  #wrapper #main #home-page .second-news {
    margin-top: 160px; }
    @media only screen and (max-width: 768px) {
      #wrapper #main #home-page .second-news {
        margin-top: 20px; } }
    #wrapper #main #home-page .second-news .second-news-content {
      margin-top: 22px; }
      #wrapper #main #home-page .second-news .second-news-content .bg-news-left {
        max-width: 365px;
        height: auto;
        border: 1px solid #eee; }
        @media only screen and (max-width: 576px) {
          #wrapper #main #home-page .second-news .second-news-content .bg-news-left {
            max-width: 100%; } }
        #wrapper #main #home-page .second-news .second-news-content .bg-news-left .img {
          max-width: 365px;
          height: 272px;
          overflow: hidden; }
          @media only screen and (max-width: 576px) {
            #wrapper #main #home-page .second-news .second-news-content .bg-news-left .img {
              max-width: 100%; } }
        #wrapper #main #home-page .second-news .second-news-content .bg-news-left .box-text {
          padding: 20px 15px; }
          #wrapper #main #home-page .second-news .second-news-content .bg-news-left .box-text .title {
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            max-height: 50px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden; }
            #wrapper #main #home-page .second-news .second-news-content .bg-news-left .box-text .title a {
              font-size: 17px;
              line-height: 28px;
              font-weight: 600; }
              #wrapper #main #home-page .second-news .second-news-content .bg-news-left .box-text .title a:hover {
                color: #29B961; }
          #wrapper #main #home-page .second-news .second-news-content .bg-news-left .box-text .desc {
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            max-height: 50px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-top: 12px; }
            #wrapper #main #home-page .second-news .second-news-content .bg-news-left .box-text .desc p {
              font-weight: 400;
              font-size: 16px;
              line-height: 26px; }
      @media only screen and (max-width: 576px) {
        #wrapper #main #home-page .second-news .second-news-content .content-box-right {
          margin-top: 20px; } }
      #wrapper #main #home-page .second-news .second-news-content .content-box-right .sm-news-right {
        display: flex;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 20px;
        padding-top: 20px; }
        #wrapper #main #home-page .second-news .second-news-content .content-box-right .sm-news-right:first-child {
          padding-top: unset; }
        #wrapper #main #home-page .second-news .second-news-content .content-box-right .sm-news-right:last-child {
          border-bottom: unset; }
        #wrapper #main #home-page .second-news .second-news-content .content-box-right .sm-news-right .img {
          max-width: 110px;
          height: 82px;
          overflow: hidden;
          flex: 1; }
        #wrapper #main #home-page .second-news .second-news-content .content-box-right .sm-news-right .box-text {
          flex: 2;
          margin-left: 20px; }
          #wrapper #main #home-page .second-news .second-news-content .content-box-right .sm-news-right .box-text .title {
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            max-height: 70px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-height: 82px; }
            #wrapper #main #home-page .second-news .second-news-content .content-box-right .sm-news-right .box-text .title a {
              font-size: 17px;
              font-weight: 400;
              line-height: 28px;
              color: #000000; }
              #wrapper #main #home-page .second-news .second-news-content .content-box-right .sm-news-right .box-text .title a:hover {
                color: #29B961; }
  #wrapper #main #home-page .third-news {
    margin-top: 60px; }
    #wrapper #main #home-page .third-news .third-news-content {
      margin-top: 20px; }
      #wrapper #main #home-page .third-news .third-news-content .col-12 {
        padding-right: 20px; }
        @media only screen and (max-width: 576px) {
          #wrapper #main #home-page .third-news .third-news-content .col-12 {
            padding-right: unset;
            margin-bottom: 20px; } }
        #wrapper #main #home-page .third-news .third-news-content .col-12:last-child {
          padding-right: unset; }
          @media only screen and (max-width: 768px) {
            #wrapper #main #home-page .third-news .third-news-content .col-12:last-child {
              padding-right: 20px; } }
          @media only screen and (max-width: 576px) {
            #wrapper #main #home-page .third-news .third-news-content .col-12:last-child {
              padding-right: unset; } }
      #wrapper #main #home-page .third-news .third-news-content .third-news-box {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
        max-width: 100%;
        max-height: 365px; }
        #wrapper #main #home-page .third-news .third-news-content .third-news-box .img {
          max-width: 100%;
          max-height: 246px;
          overflow: hidden; }
        #wrapper #main #home-page .third-news .third-news-content .third-news-box .box-text {
          padding: 25px 15px; }
          #wrapper #main #home-page .third-news .third-news-content .third-news-box .box-text .title {
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            max-height: 70px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-height: 83px; }
            #wrapper #main #home-page .third-news .third-news-content .third-news-box .box-text .title a {
              font-size: 17px;
              font-weight: 400;
              color: #000;
              line-height: 28px; }
  #wrapper #main #home-page .fourth-news {
    margin-top: 60px; }
    #wrapper #main #home-page .fourth-news .fourth-news-content {
      margin-top: 20px; }
      #wrapper #main #home-page .fourth-news .fourth-news-content .content-box-right .sm-news-right {
        display: flex;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 15px;
        padding-top: 15px; }
        #wrapper #main #home-page .fourth-news .fourth-news-content .content-box-right .sm-news-right:first-child {
          padding-top: unset; }
        #wrapper #main #home-page .fourth-news .fourth-news-content .content-box-right .sm-news-right:last-child {
          border-bottom: unset; }
        #wrapper #main #home-page .fourth-news .fourth-news-content .content-box-right .sm-news-right .img {
          max-width: 110px;
          height: 82px;
          overflow: hidden;
          flex: 1; }
        #wrapper #main #home-page .fourth-news .fourth-news-content .content-box-right .sm-news-right .box-text {
          flex: 2;
          margin-left: 20px; }
          #wrapper #main #home-page .fourth-news .fourth-news-content .content-box-right .sm-news-right .box-text .title {
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            max-height: 70px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-height: 82px; }
            #wrapper #main #home-page .fourth-news .fourth-news-content .content-box-right .sm-news-right .box-text .title a {
              font-size: 17px;
              font-weight: 400;
              line-height: 28px;
              color: #000000; }
              #wrapper #main #home-page .fourth-news .fourth-news-content .content-box-right .sm-news-right .box-text .title a:hover {
                color: #29B961; }
  #wrapper #main #category .category-main {
    margin-top: 30px; }
    #wrapper #main #category .category-main .category-content .post-content {
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
      margin-bottom: 30px; }
      #wrapper #main #category .category-main .category-content .post-content .post-box {
        display: flex;
        max-height: 240px;
        padding: 10px;
        box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.11);
        border-bottom: 1px solid #eee; }
        #wrapper #main #category .category-main .category-content .post-content .post-box .img-box {
          max-width: 165px;
          height: 150px;
          position: relative;
          overflow: hidden;
          flex: 1; }
          #wrapper #main #category .category-main .category-content .post-content .post-box .img-box:hover .img {
            transform: scale(1.3); }
          #wrapper #main #category .category-main .category-content .post-content .post-box .img-box:hover .overlay {
            opacity: 1;
            visibility: visible; }
          #wrapper #main #category .category-main .category-content .post-content .post-box .img-box:hover .icon {
            opacity: 1;
            visibility: visible; }
          #wrapper #main #category .category-main .category-content .post-content .post-box .img-box .img {
            position: absolute;
            max-width: 165px;
            height: 150px;
            overflow: hidden;
            z-index: 1;
            transition: .3s ease-out; }
            @media only screen and (max-width: 768px) {
              #wrapper #main #category .category-main .category-content .post-content .post-box .img-box .img {
                height: auto; } }
          #wrapper #main #category .category-main .category-content .post-content .post-box .img-box .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.75);
            z-index: 2;
            opacity: 0;
            visibility: hidden;
            transition: .3s ease-out; }
          #wrapper #main #category .category-main .category-content .post-content .post-box .img-box .icon {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            opacity: 0;
            visibility: hidden;
            transition: .3s ease-out; }
            #wrapper #main #category .category-main .category-content .post-content .post-box .img-box .icon .fa {
              color: #fff;
              font-size: 21px; }
        #wrapper #main #category .category-main .category-content .post-content .post-box .box-text {
          flex: 2;
          margin-left: 44px;
          padding-bottom: 53px; }
          #wrapper #main #category .category-main .category-content .post-content .post-box .box-text .title {
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            max-height: 50px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-height: 82px; }
            #wrapper #main #category .category-main .category-content .post-content .post-box .box-text .title a {
              font-weight: 700;
              font-style: normal;
              font-size: 28px;
              color: #04b431;
              line-height: 42px; }
              #wrapper #main #category .category-main .category-content .post-content .post-box .box-text .title a:hover {
                color: #000; }
          #wrapper #main #category .category-main .category-content .post-content .post-box .box-text .author {
            padding-top: 15px; }
            #wrapper #main #category .category-main .category-content .post-content .post-box .box-text .author a {
              font-size: 15px;
              font-weight: 400;
              line-height: 24px;
              color: #777777;
              text-transform: capitalize; }
              #wrapper #main #category .category-main .category-content .post-content .post-box .box-text .author a:hover {
                color: #000; }
          #wrapper #main #category .category-main .category-content .post-content .post-box .box-text .desc {
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            max-height: 50px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            max-height: 50px;
            margin-top: 20px; }
            #wrapper #main #category .category-main .category-content .post-content .post-box .box-text .desc p {
              font-size: 16px;
              line-height: 26px;
              font-weight: 400;
              color: #000; }
    #wrapper #main #category .category-main .pages .pagination .page-item {
      margin-right: 5px; }
      #wrapper #main #category .category-main .pages .pagination .page-item:first-child .page-link {
        border-radius: unset; }
      #wrapper #main #category .category-main .pages .pagination .page-item:last-child .page-link {
        border-radius: unset;
        margin-right: unset; }
      #wrapper #main #category .category-main .pages .pagination .page-item .page-link {
        border: 1px solid #ed1b23;
        padding: 5px 10px;
        color: #ed1b23; }
        #wrapper #main #category .category-main .pages .pagination .page-item .page-link.active-pages {
          background: #ED1B23;
          color: #fff; }
        #wrapper #main #category .category-main .pages .pagination .page-item .page-link:hover {
          background-color: #ED1B23;
          color: #fff; }
    @media only screen and (max-width: 768px) {
      #wrapper #main #category .category-main .widget-left {
        margin-top: 30px; } }
    #wrapper #main #category .category-main .widget-left .advertiments {
      max-width: 304px;
      height: auto;
      overflow: hidden; }
      @media only screen and (max-width: 768px) {
        #wrapper #main #category .category-main .widget-left .advertiments {
          max-width: 100%; } }
    #wrapper #main #category .category-main .widget-left .post-related {
      margin-top: 25px;
      border: 1px solid #29B961; }
      #wrapper #main #category .category-main .widget-left .post-related .title-related {
        padding: 10px;
        background: #29b961;
        color: #FFF;
        text-transform: uppercase;
        font-size: 15px; }
        #wrapper #main #category .category-main .widget-left .post-related .title-related h2 {
          line-height: 1.5;
          font-weight: 600; }
      #wrapper #main #category .category-main .widget-left .post-related .content {
        padding: 10px; }
        #wrapper #main #category .category-main .widget-left .post-related .content .post-box {
          display: flex;
          border-bottom: 1px solid #EEEEEE;
          padding-bottom: 12px;
          padding-top: 12px; }
          #wrapper #main #category .category-main .widget-left .post-related .content .post-box:first-child {
            padding-top: unset; }
          #wrapper #main #category .category-main .widget-left .post-related .content .post-box .img {
            max-width: 65px;
            height: 65px;
            flex: 1; }
            @media only screen and (max-width: 576px) {
              #wrapper #main #category .category-main .widget-left .post-related .content .post-box .img {
                height: auto; } }
          #wrapper #main #category .category-main .widget-left .post-related .content .post-box .box-text {
            flex: 2;
            margin-left: 15px; }
            #wrapper #main #category .category-main .widget-left .post-related .content .post-box .box-text .title {
              text-overflow: ellipsis;
              -webkit-line-clamp: 3;
              max-height: 70px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              max-height: 75px; }
              #wrapper #main #category .category-main .widget-left .post-related .content .post-box .box-text .title a {
                font-size: 16px;
                line-height: 26px;
                font-weight: 400; }
                #wrapper #main #category .category-main .widget-left .post-related .content .post-box .box-text .title a:hover {
                  font-weight: 600;
                  color: #29B961; }
  #wrapper #main #post-detail-blog .main-post {
    margin-top: 30px; }
    #wrapper #main #post-detail-blog .main-post .content-post .title-detail-blog .post-title {
      font-size: 30px;
      line-height: 44px;
      font-weight: 500;
      color: #04B431; }
    #wrapper #main #post-detail-blog .main-post .content-post .title-detail-blog .author {
      display: flex;
      color: #777;
      font-size: 15px;
      line-height: 24px;
      padding-top: 24px; }
      #wrapper #main #post-detail-blog .main-post .content-post .title-detail-blog .author .date-post {
        margin-right: 15px; }
      #wrapper #main #post-detail-blog .main-post .content-post .title-detail-blog .author a {
        color: #777; }
    #wrapper #main #post-detail-blog .main-post .content-post .content-box {
      margin-top: 38px; }
      #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggestions-box {
        border: 1px solid #AAAAAA;
        background: #F9F9F9;
        max-width: 407px;
        max-height: 100%;
        transition: .3s;
        margin: 25px 0px; }
        @media only screen and (max-width: 768px) {
          #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggestions-box {
            max-width: 100%; } }
        #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggestions-box.del-width {
          max-width: 130px;
          height: auto; }
        #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggestions-box .title-suggest {
          padding: 10px 0px;
          text-align: center; }
          #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggestions-box .title-suggest label {
            font-size: 15px;
            line-height: 25px;
            font-weight: 700; }
          #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggestions-box .title-suggest .hide-and-show button {
            border: none;
            outline: none;
            background: #fff;
            padding: 0;
            font-size: 14px;
            color: #04B431; }
            #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggestions-box .title-suggest .hide-and-show button:hover {
              color: #000;
              text-decoration: underline; }
        #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggestions-box .suggestions-content {
          margin: 0px 7px;
          transition: ease-out; }
          #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggestions-box .suggestions-content ul li a {
            font-size: 15px;
            line-height: 25px;
            font-weight: 400;
            color: #29B976;
            text-transform: uppercase; }
            #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggestions-box .suggestions-content ul li a:hover {
              text-decoration: underline;
              color: #000; }
          #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggestions-box .suggestions-content.hidden {
            max-width: 0px;
            max-height: 0px;
            overflow: hidden;
            margin: unset; }
      #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggest-blog-box {
        border: 1px solid #DADC98;
        background: #F2F5A9;
        padding: 1px;
        margin: 20px 0px; }
        #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggest-blog-box ul {
          padding: 15px 50px; }
          #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggest-blog-box ul li {
            list-style-type: disc; }
            #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggest-blog-box ul li a {
              font-size: 16px;
              line-height: 26px;
              color: #04B431;
              font-weight: 600; }
              #wrapper #main #post-detail-blog .main-post .content-post .content-box .suggest-blog-box ul li a:hover {
                text-decoration: underline;
                color: #000; }
      #wrapper #main #post-detail-blog .main-post .content-post .content-box .rated-star {
        display: flex;
        justify-content: end; }
        #wrapper #main #post-detail-blog .main-post .content-post .content-box .rated-star .star-box {
          margin-right: 10px; }
          #wrapper #main #post-detail-blog .main-post .content-post .content-box .rated-star .star-box span {
            font-size: 16px; }
            #wrapper #main #post-detail-blog .main-post .content-post .content-box .rated-star .star-box span.checked {
              color: #FFFF00; }
    #wrapper #main #post-detail-blog .main-post .content-post .may-be-care {
      margin-top: 30px; }
      #wrapper #main #post-detail-blog .main-post .content-post .may-be-care .title-care h2 {
        font-size: 18px;
        line-height: 27px;
        color: #29B961;
        font-weight: 700;
        text-transform: uppercase; }
      #wrapper #main #post-detail-blog .main-post .content-post .may-be-care .may-be-care-content .content-box.has-bd {
        border-right: 1px solid #CCCCCC; }
        @media only screen and (max-width: 768px) {
          #wrapper #main #post-detail-blog .main-post .content-post .may-be-care .may-be-care-content .content-box.has-bd {
            border: unset; } }
      #wrapper #main #post-detail-blog .main-post .content-post .may-be-care .may-be-care-content .content-box .post-box {
        display: flex;
        max-height: 80px;
        margin-bottom: 25px; }
        #wrapper #main #post-detail-blog .main-post .content-post .may-be-care .may-be-care-content .content-box .post-box .img {
          max-width: 75px;
          height: 75px;
          overflow: hidden;
          border-radius: 5px;
          flex: 1; }
          @media only screen and (max-width: 768px) {
            #wrapper #main #post-detail-blog .main-post .content-post .may-be-care .may-be-care-content .content-box .post-box .img {
              height: auto; } }
        #wrapper #main #post-detail-blog .main-post .content-post .may-be-care .may-be-care-content .content-box .post-box .box-text {
          flex: 2;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          max-height: 50px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          max-height: 50px;
          margin-left: 10px; }
          #wrapper #main #post-detail-blog .main-post .content-post .may-be-care .may-be-care-content .content-box .post-box .box-text .title a {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            color: #29B961; }
            #wrapper #main #post-detail-blog .main-post .content-post .may-be-care .may-be-care-content .content-box .post-box .box-text .title a:hover {
              text-decoration: underline;
              color: #000; }
    #wrapper #main #post-detail-blog .main-post .content-post .post-related {
      margin-top: 30px; }
      #wrapper #main #post-detail-blog .main-post .content-post .post-related .col-12 {
        padding-right: 15px; }
        @media only screen and (max-width: 576px) {
          #wrapper #main #post-detail-blog .main-post .content-post .post-related .col-12 {
            padding-right: unset; } }
      #wrapper #main #post-detail-blog .main-post .content-post .post-related .title-related h2 {
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        color: #000;
        text-transform: uppercase; }
      #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content {
        margin-top: 25px; }
        #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct {
          border: 1px solid #EEEEEE;
          margin-bottom: 15px; }
          #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box {
            padding: 10px; }
            @media only screen and (max-width: 576px) {
              #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box {
                width: 100%; } }
            #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box .img-box {
              position: relative;
              overflow: hidden;
              max-width: 576px;
              height: 190px; }
              @media only screen and (max-width: 576px) {
                #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box .img-box {
                  width: 100%; } }
              #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box .img-box:hover .img {
                transform: scale(1.2); }
              #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box .img-box:hover .over-lay {
                opacity: 1;
                visibility: visible; }
              #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box .img-box:hover .icon {
                opacity: 1;
                visibility: visible; }
              #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box .img-box .img {
                max-width: 576px;
                height: 190px;
                overflow: hidden;
                position: absolute;
                z-index: 1;
                transition: .3s; }
                @media only screen and (max-width: 576px) {
                  #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box .img-box .img {
                    width: 100%; } }
              #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box .img-box .over-lay {
                background: rgba(0, 0, 0, 0.82);
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 2;
                opacity: 0;
                visibility: hidden;
                transition: .3s; }
              #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box .img-box .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
                opacity: 0;
                visibility: hidden;
                transition: .3s; }
                #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box .img-box .icon .fa {
                  font-size: 16px;
                  color: #fff; }
            #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box .box-text {
              padding: 20px 0px 0px 0px; }
              #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box .box-text .title {
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                max-height: 70px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                max-height: 78px; }
                #wrapper #main #post-detail-blog .main-post .content-post .post-related .post-related-content .arr-box-ct .post-box .box-text .title a {
                  font-size: 16px;
                  font-weight: 700;
                  color: #21984F;
                  line-height: 24px; }
    @media only screen and (max-width: 768px) {
      #wrapper #main #post-detail-blog .main-post .widget-left {
        margin-top: 30px; } }
    #wrapper #main #post-detail-blog .main-post .widget-left .advertiments {
      max-width: 304px;
      height: auto;
      overflow: hidden; }
      @media only screen and (max-width: 768px) {
        #wrapper #main #post-detail-blog .main-post .widget-left .advertiments {
          max-width: 100%; } }
    #wrapper #main #post-detail-blog .main-post .widget-left .post-related {
      margin-top: 25px;
      border: 1px solid #29B961; }
      #wrapper #main #post-detail-blog .main-post .widget-left .post-related .title-related {
        padding: 10px;
        background: #29b961;
        color: #FFF;
        text-transform: uppercase;
        font-size: 15px; }
        #wrapper #main #post-detail-blog .main-post .widget-left .post-related .title-related h2 {
          line-height: 1.5;
          font-weight: 600; }
      #wrapper #main #post-detail-blog .main-post .widget-left .post-related .content {
        padding: 10px; }
        #wrapper #main #post-detail-blog .main-post .widget-left .post-related .content .post-box {
          display: flex;
          border-bottom: 1px solid #EEEEEE;
          padding-bottom: 12px;
          padding-top: 12px; }
          #wrapper #main #post-detail-blog .main-post .widget-left .post-related .content .post-box:first-child {
            padding-top: unset; }
          #wrapper #main #post-detail-blog .main-post .widget-left .post-related .content .post-box .img {
            max-width: 65px;
            height: 65px;
            flex: 1; }
            @media only screen and (max-width: 576px) {
              #wrapper #main #post-detail-blog .main-post .widget-left .post-related .content .post-box .img {
                height: auto; } }
          #wrapper #main #post-detail-blog .main-post .widget-left .post-related .content .post-box .box-text {
            flex: 2;
            margin-left: 15px; }
            #wrapper #main #post-detail-blog .main-post .widget-left .post-related .content .post-box .box-text .title {
              text-overflow: ellipsis;
              -webkit-line-clamp: 3;
              max-height: 70px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              max-height: 75px; }
              #wrapper #main #post-detail-blog .main-post .widget-left .post-related .content .post-box .box-text .title a {
                font-size: 16px;
                line-height: 26px;
                font-weight: 400; }
                #wrapper #main #post-detail-blog .main-post .widget-left .post-related .content .post-box .box-text .title a:hover {
                  font-weight: 600;
                  color: #29B961; }
