@import "reset";
@import "header";
@import "footer";
.push-wrapper {
    transform: translateX(300px) !important;
}


#wrapper {

    .container {
        max-width: 1200px;
    }

    .ws247-breadcum {
        background: #F7F7F7;
        padding: 25px 0px;

        .ws247-breadcum-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .title {
                h2 {
                    font-size: 26px;
                    line-height: 36px;
                    font-weight: 700;
                    color: #04B431;
                    text-transform: uppercase;
                }
            }

            .link {

                ul {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 32px;
                        color: #000;

                        &:after {
                            content: "\f105";
                            padding: 0px 10px;
                            display: inline-block;
                            font: normal normal normal 14px/1 FontAwesome;
                            font-size: 14px;
                            font-size: inherit;
                            text-rendering: auto;
                        }

                        &:last-child:after {
                            display: none;
                        }

                        span {
                            text-transform: capitalize;
                        }

                        a {
                            color: #04B431;

                            &:hover {
                                color: #000;
                            }
                        }

                        .fa {
                            color: #04B431;

                            &:hover {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }

    .title-main-section {
        border-bottom: 2px solid #29B961;

        h2 {
            font-weight: 700;
            font-size: 28px;
            line-height: 42px;
            color: #fff;
            display: inline-block;
            background: #29B961;
            padding: 7px 20px;
        }
    }

    @mixin two-line-clamp {
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        max-height: 50px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    @mixin three-line-clamp {
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        max-height: 70px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    #main {
        transform-origin: 100% 0%;
        transition: .3s ease-out;

        @media only screen and (max-width: 768px) {
            & {
                padding-top: 65px;
            }
        }

        .overlay-main {
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.80);
            width: 100%;
            height: 100%;
            z-index: 999;
            opacity: 0;
            visibility: hidden;
            transition: .3s ease-out;

            &.show {
                opacity: 1;
                visibility: visible;
            }
        }

        &.push-wrapper {
            transform: translateX(300px) !important;
        }

        #home-page {

            .first-news {
                margin-top: 30px;

                .slider-img-content {
                    .owl-theme {
                        .owl-nav {
                            position: absolute;
                            justify-content: space-between;
                            display: flex;
                            width: 90%;
                            margin: auto;
                            left: 50%;
                            transform: translateX(-52%);
                            top: 46%;
                            z-index: 9;
                            color: #fff;

                            button {
                                border: none;
                                outline: none;
                            }

                            .nav-btn {
                                border: 1px solid #fefefe;
                                padding: 2px 5px;
                                border-radius: 50%;
                                width: 23px;
                                height: 23px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: .2s;

                                &:hover {
                                    background: rgba(41,185,97,0.6);
                                }

                                .fa {
                                    font-size: 12px;
                                }
                            }
                        }
                    }

                    .owl-theme .owl-nav [class*="owl-"]:hover {
                        background: none;
                    }

                    .images-box {
                        max-width: 560px;
                        height: 437px;
                        overflow: hidden;
                        position: relative;
                        z-index: 1;

                        @media only screen and (max-width: 576px) {
                            & {
                                max-width: 100%;
                                height: auto;
                            }
                        }

                        .img {
                            max-width: 560px;
                            height: 437px;
                            position: relative;
                            overflow: hidden;
                            z-index: 2;

                            @media only screen and (max-width: 576px) {
                                & {
                                    max-width: 100%;
                                    height: auto;
                                }
                            }
                        }

                        &:hover .box-text {
                            background: rgba(41,185,97,0.6);
                        }

                        .box-text {
                            position: absolute;
                            z-index: 3;
                            bottom: 0;
                            background: rgba(0,0,0,0.6);
                            padding: 15px 15px;
                            transition: .2s;



                            .title {
                                @include two-line-clamp;
                                text-align: center;

                                p {
                                    font-weight: 400;
                                    font-size: 17px;
                                    line-height: 28px;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }

                .small-img-content {
                    @media only screen and (max-width: 576px) {
                        & {
                            margin-top: 30px;
                        }
                    }

                    .images-box {
                        max-width: 270px;
                        height: 203px;
                        overflow: hidden;
                        position: relative;
                        z-index: 1;
                        margin-bottom: 30px;

                        @media only screen and (max-width: 576px) {
                            & {
                                max-width: 100%;
                                height: auto;
                            }
                        }

                        &:hover .box-text {
                            background: rgba(41,185,97,0.6);
                        }

                        .img {
                            max-width: 270px;
                            height: 203px;
                            position: relative;
                            z-index: 1;

                            @media only screen and (max-width: 576px) {
                                & {
                                    max-width: 100%;
                                    height: auto;
                                }
                            }
                        }

                        .box-text {
                            position: absolute;
                            z-index: 3;
                            bottom: 0;
                            background: rgba(0,0,0,0.6);
                            padding: 15px 15px;
                            transition: .2s;

                            .title {
                                @include three-line-clamp;
                                text-align: center;

                                p {
                                    font-weight: 400;
                                    font-size: 15px;
                                    line-height: 25px;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }

            .second-news {
                margin-top: 160px;

                @media only screen and (max-width: 768px) {
                    margin-top: 20px;
                }

                .second-news-content {
                    margin-top: 22px;

                    .bg-news-left {
                        max-width: 365px;
                        height: auto;
                        border: 1px solid #eee;

                        @media only screen and (max-width: 576px) {
                            max-width: 100%;
                        }

                        .img {
                            max-width: 365px;
                            height: 272px;
                            overflow: hidden;

                            @media only screen and (max-width: 576px) {
                                max-width: 100%;
                            }
                        }

                        .box-text {
                            padding: 20px 15px;


                            .title {
                                @include two-line-clamp;

                                a {
                                    font-size: 17px;
                                    line-height: 28px;
                                    font-weight: 600;

                                    &:hover {
                                        color: #29B961;
                                    }
                                }
                            }

                            .desc {
                                @include two-line-clamp;
                                margin-top: 12px;

                                p {
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 26px;
                                }
                            }
                        }
                    }

                    .content-box-right {
                        @media only screen and (max-width: 576px) {
                            margin-top: 20px;
                        }

                        .sm-news-right {
                            display: flex;
                            border-bottom: 1px solid #E5E5E5;
                            padding-bottom: 20px;
                            padding-top: 20px;

                            &:first-child {
                                padding-top: unset;
                            }

                            &:last-child {
                                border-bottom: unset;
                            }

                            .img {
                                max-width: 110px;
                                height: 82px;
                                overflow: hidden;
                                flex: 1;
                            }

                            .box-text {
                                flex: 2;
                                margin-left: 20px;

                                .title {
                                    @include three-line-clamp;
                                    max-height: 82px;

                                    a {
                                        font-size: 17px;
                                        font-weight: 400;
                                        line-height: 28px;
                                        color: #000000;

                                        &:hover {
                                            color: #29B961;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .third-news {
                margin-top: 60px;

                .third-news-content {
                    margin-top: 20px;

                    .col-12 {
                        padding-right: 20px;

                        @media only screen and (max-width: 576px) {
                            & {
                                padding-right: unset;
                                margin-bottom: 20px;
                            }
                        }

                        &:last-child {
                            padding-right: unset;

                            @media only screen and (max-width: 768px) {
                                & {
                                    padding-right: 20px;
                                }
                            }

                            @media only screen and (max-width: 576px) {
                                & {
                                    padding-right: unset;
                                }
                            }
                        }
                    }

                    .third-news-box {
                        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
                        max-width: 100%;
                        max-height: 365px;

                        .img {
                            max-width: 100%;
                            max-height: 246px;
                            overflow: hidden;
                        }

                        .box-text {
                            padding: 25px 15px;

                            .title {
                                @include three-line-clamp;
                                max-height: 83px;

                                a {
                                    font-size: 17px;
                                    font-weight: 400;
                                    color: #000;
                                    line-height: 28px;
                                }
                            }
                        }
                    }
                }
            }

            .fourth-news {
                margin-top: 60px;

                .fourth-news-content {
                    margin-top: 20px;

                    .content-box-right {
                        .sm-news-right {
                            display: flex;
                            border-bottom: 1px solid #E5E5E5;
                            padding-bottom: 15px;
                            padding-top: 15px;

                            &:first-child {
                                padding-top: unset;
                            }

                            &:last-child {
                                border-bottom: unset;
                            }

                            .img {
                                max-width: 110px;
                                height: 82px;
                                overflow: hidden;
                                flex: 1;
                            }

                            .box-text {
                                flex: 2;
                                margin-left: 20px;

                                .title {
                                    @include three-line-clamp;
                                    max-height: 82px;

                                    a {
                                        font-size: 17px;
                                        font-weight: 400;
                                        line-height: 28px;
                                        color: #000000;

                                        &:hover {
                                            color: #29B961;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #category {
            .category-main {
                margin-top: 30px;

                .category-content {

                    .post-content {
                        padding-bottom: 10px;
                        border-bottom: 1px solid #eee;
                        margin-bottom: 30px;

                        .post-box {
                            display: flex;
                            max-height: 240px;
                            padding: 10px;
                            box-shadow: 0px 0px 11px 0px rgba(50,50,50,0.11);
                            border-bottom: 1px solid #eee;

                            .img-box {
                                max-width: 165px;
                                height: 150px;
                                position: relative;
                                overflow: hidden;
                                flex: 1;

                                &:hover .img {
                                    transform: scale(1.3);
                                }

                                &:hover .overlay {
                                    opacity: 1;
                                    visibility: visible;
                                }

                                &:hover .icon {
                                    opacity: 1;
                                    visibility: visible;
                                }

                                .img {
                                    position: absolute;
                                    max-width: 165px;
                                    height: 150px;
                                    overflow: hidden;
                                    z-index: 1;
                                    transition: .3s ease-out;

                                    @media only screen and (max-width: 768px) {
                                        height: auto;
                                    }
                                }

                                .overlay {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    background-color: rgba(0, 0, 0, 0.75);
                                    z-index: 2;
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: .3s ease-out;
                                }

                                .icon {
                                    position: absolute;
                                    width: 30px;
                                    height: 30px;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    z-index: 3;
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: .3s ease-out;

                                    .fa {
                                        color: #fff;
                                        font-size: 21px;
                                    }
                                }
                            }

                            .box-text {
                                flex: 2;
                                margin-left: 44px;
                                padding-bottom: 53px;

                                .title {
                                    @include two-line-clamp;
                                    max-height: 82px;

                                    a {
                                        font-weight: 700;
                                        font-style: normal;
                                        font-size: 28px;
                                        color: #04b431;
                                        line-height: 42px;

                                        &:hover {
                                            color: #000;
                                        }
                                    }
                                }

                                .author {
                                    padding-top: 15px;

                                    a {
                                        font-size: 15px;
                                        font-weight: 400;
                                        line-height: 24px;
                                        color: #777777;
                                        text-transform: capitalize;

                                        &:hover {
                                            color: #000;
                                        }
                                    }
                                }

                                .desc {
                                    @include two-line-clamp;
                                    max-height: 50px;
                                    margin-top: 20px;

                                    p {
                                        font-size: 16px;
                                        line-height: 26px;
                                        font-weight: 400;
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }

                .pages {
                    .pagination {
                        .page-item {
                            margin-right: 5px;



                            &:first-child .page-link {
                                border-radius: unset;
                            }

                            &:last-child .page-link {
                                border-radius: unset;
                                margin-right: unset;
                            }

                            .page-link {
                                border: 1px solid #ed1b23;
                                padding: 5px 10px;
                                color: #ed1b23;

                                &.active-pages {
                                    background: #ED1B23;
                                    color: #fff;
                                }

                                &:hover {
                                    background-color: #ED1B23;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }

                .widget-left {

                    @media only screen and (max-width: 768px) {
                        & {
                            margin-top: 30px;
                        }
                    }

                    .advertiments {
                        max-width: 304px;
                        height: auto;
                        overflow: hidden;

                        @media only screen and (max-width: 768px) {
                            & {
                                max-width: 100%;
                            }
                        }
                    }

                    .post-related {
                        margin-top: 25px;
                        border: 1px solid #29B961;


                        .title-related {
                            padding: 10px;
                            background: #29b961;
                            color: #FFF;
                            text-transform: uppercase;
                            font-size: 15px;

                            h2 {
                                line-height: 1.5;
                                font-weight: 600;
                            }
                        }

                        .content {
                            padding: 10px;

                            .post-box {
                                display: flex;
                                border-bottom: 1px solid #EEEEEE;
                                padding-bottom: 12px;
                                padding-top: 12px;

                                &:first-child {
                                    padding-top: unset;
                                }

                                .img {
                                    max-width: 65px;
                                    height: 65px;
                                    flex: 1;

                                    @media only screen and (max-width: 576px) {
                                        & {
                                            height: auto;
                                        }
                                    }
                                }

                                .box-text {
                                    flex: 2;
                                    margin-left: 15px;

                                    .title {
                                        @include three-line-clamp;
                                        max-height: 75px;

                                        a {
                                            font-size: 16px;
                                            line-height: 26px;
                                            font-weight: 400;

                                            &:hover {
                                                font-weight: 600;
                                                color: #29B961;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #post-detail-blog {
            .main-post {
                margin-top: 30px;

                .content-post {
                    .title-detail-blog {
                        .post-title {
                            font-size: 30px;
                            line-height: 44px;
                            font-weight: 500;
                            color: #04B431;
                        }

                        .author {
                            display: flex;
                            color: #777;
                            font-size: 15px;
                            line-height: 24px;
                            padding-top: 24px;

                            .date-post {
                                margin-right: 15px;
                            }

                            a {
                                color: #777;
                            }
                        }
                    }

                    .content-box {
                        margin-top: 38px;

                        .suggestions-box {
                            border: 1px solid #AAAAAA;
                            background: #F9F9F9;
                            max-width: 407px;
                            max-height: 100%;
                            transition: .3s;
                            margin: 25px 0px;

                            @media only screen and (max-width: 768px) {
                                & {
                                    max-width: 100%;
                                }
                            }

                            &.del-width {
                                max-width: 130px;
                                height: auto;
                            }

                            .title-suggest {
                                padding: 10px 0px;
                                text-align: center;

                                label {
                                    font-size: 15px;
                                    line-height: 25px;
                                    font-weight: 700;
                                }

                                .hide-and-show {
                                    button {
                                        border: none;
                                        outline: none;
                                        background: #fff;
                                        padding: 0;
                                        font-size: 14px;
                                        color: #04B431;

                                        &:hover {
                                            color: #000;
                                            text-decoration: underline;
                                        }

                                        &.hidden {
                                        }
                                    }
                                }
                            }

                            .suggestions-content {
                                margin: 0px 7px;
                                transition: ease-out;

                                ul {
                                    li {
                                        a {
                                            font-size: 15px;
                                            line-height: 25px;
                                            font-weight: 400;
                                            color: #29B976;
                                            text-transform: uppercase;

                                            &:hover {
                                                text-decoration: underline;
                                                color: #000;
                                            }
                                        }
                                    }
                                }

                                &.hidden {
                                    max-width: 0px;
                                    max-height: 0px;
                                    overflow: hidden;
                                    margin: unset;
                                }
                            }
                        }

                        .suggest-blog-box {
                            border: 1px solid #DADC98;
                            background: #F2F5A9;
                            padding: 1px;
                            margin: 20px 0px;

                            ul {
                                padding: 15px 50px;

                                li {
                                    list-style-type: disc;

                                    a {
                                        font-size: 16px;
                                        line-height: 26px;
                                        color: #04B431;
                                        font-weight: 600;

                                        &:hover {
                                            text-decoration: underline;
                                            color: #000;
                                        }
                                    }
                                }
                            }
                        }

                        .rated-star {
                            display: flex;
                            justify-content: end;



                            .star-box {
                                margin-right: 10px;

                                span {
                                    font-size: 16px;

                                    &.checked {
                                        color: #FFFF00;
                                    }
                                }
                            }
                        }
                    }

                    .may-be-care {
                        margin-top: 30px;

                        .title-care {
                            h2 {
                                font-size: 18px;
                                line-height: 27px;
                                color: #29B961;
                                font-weight: 700;
                                text-transform: uppercase;
                            }
                        }

                        .may-be-care-content {
                            .content-box {
                                &.has-bd {
                                    border-right: 1px solid #CCCCCC;

                                    @media only screen and (max-width: 768px) {
                                        & {
                                            border: unset;
                                        }
                                    }
                                }

                                .post-box {
                                    display: flex;
                                    max-height: 80px;
                                    margin-bottom: 25px;



                                    .img {
                                        max-width: 75px;
                                        height: 75px;
                                        overflow: hidden;
                                        border-radius: 5px;
                                        flex: 1;

                                        @media only screen and (max-width: 768px) {
                                            height: auto;
                                        }
                                    }

                                    .box-text {
                                        flex: 2;
                                        @include two-line-clamp;
                                        max-height: 50px;
                                        margin-left: 10px;

                                        .title {
                                            a {
                                                font-size: 16px;
                                                font-weight: 400;
                                                line-height: 26px;
                                                color: #29B961;

                                                &:hover {
                                                    text-decoration: underline;
                                                    color: #000;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .post-related {
                        margin-top: 30px;

                        .col-12 {
                            padding-right: 15px;

                            @media only screen and (max-width: 576px) {
                                & {
                                    padding-right: unset;
                                }
                            }
                        }

                        .title-related {
                            h2 {
                                font-size: 18px;
                                font-weight: 600;
                                line-height: 30px;
                                color: #000;
                                text-transform: uppercase;
                            }
                        }

                        .post-related-content {
                            margin-top: 25px;
                            .arr-box-ct {
                                border: 1px solid #EEEEEE;
                                margin-bottom: 15px;

                                .post-box {
                                    padding: 10px;


                                    @media only screen and (max-width: 576px) {
                                        & {
                                            width: 100%;
                                        }
                                    }

                                    .img-box {
                                        position: relative;
                                        overflow: hidden;
                                        max-width: 576px;
                                        height: 190px;


                                        @media only screen and (max-width: 576px) {
                                            & {
                                                width: 100%;
                                            }
                                        }

                                        &:hover .img {
                                            transform: scale(1.2);
                                        }

                                        &:hover .over-lay {
                                            opacity: 1;
                                            visibility: visible;
                                        }

                                        &:hover .icon {
                                            opacity: 1;
                                            visibility: visible;
                                        }

                                        .img {
                                            max-width: 576px;
                                            height: 190px;
                                            overflow: hidden;
                                            position: absolute;
                                            z-index: 1;
                                            transition: .3s;

                                            @media only screen and (max-width: 576px) {
                                                & {
                                                    width: 100%;
                                                }
                                            }
                                        }

                                        .over-lay {
                                            background: rgba(0, 0, 0, 0.82);
                                            position: absolute;
                                            width: 100%;
                                            height: 100%;
                                            z-index: 2;
                                            opacity: 0;
                                            visibility: hidden;
                                            transition: .3s;
                                        }

                                        .icon {
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            z-index: 3;
                                            opacity: 0;
                                            visibility: hidden;
                                            transition: .3s;

                                            .fa {
                                                font-size: 16px;
                                                color: #fff;
                                            }
                                        }
                                    }

                                    .box-text {
                                        padding: 20px 0px 0px 0px;

                                        .title {
                                            @include three-line-clamp;
                                            max-height: 78px;

                                            a {
                                                font-size: 16px;
                                                font-weight: 700;
                                                color: #21984F;
                                                line-height: 24px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }


                .widget-left {

                    @media only screen and (max-width: 768px) {
                        & {
                            margin-top: 30px;
                        }
                    }

                    .advertiments {
                        max-width: 304px;
                        height: auto;
                        overflow: hidden;

                        @media only screen and (max-width: 768px) {
                            & {
                                max-width: 100%;
                            }
                        }
                    }

                    .post-related {
                        margin-top: 25px;
                        border: 1px solid #29B961;


                        .title-related {
                            padding: 10px;
                            background: #29b961;
                            color: #FFF;
                            text-transform: uppercase;
                            font-size: 15px;

                            h2 {
                                line-height: 1.5;
                                font-weight: 600;
                            }
                        }

                        .content {
                            padding: 10px;

                            .post-box {
                                display: flex;
                                border-bottom: 1px solid #EEEEEE;
                                padding-bottom: 12px;
                                padding-top: 12px;

                                &:first-child {
                                    padding-top: unset;
                                }

                                .img {
                                    max-width: 65px;
                                    height: 65px;
                                    flex: 1;

                                    @media only screen and (max-width: 576px) {
                                        & {
                                            height: auto;
                                        }
                                    }
                                }

                                .box-text {
                                    flex: 2;
                                    margin-left: 15px;

                                    .title {
                                        @include three-line-clamp;
                                        max-height: 75px;

                                        a {
                                            font-size: 16px;
                                            line-height: 26px;
                                            font-weight: 400;

                                            &:hover {
                                                font-weight: 600;
                                                color: #29B961;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}